@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

footer {
    align-items: center;
    color: #e5e7eb;
    display: flex;
    font-size: small;
    justify-content: center;
    padding: 32px 0;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

p {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 16px;
}

figcaption {
    color: #1f2937;
    font-size: medium;
    font-style: normal;
    font-weight: bold;
    text-align: right;
}

.button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 24px;
    text-decoration: none;
}

.header,
.hero,
footer {
    background-color: #1f2937;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header-links a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.hero-left {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 32px;
}

.hero-right {
    align-items: center;
    background-color: grey;
    display: flex;
    height: 200px;
    justify-content: center;
    width: 400px;
}

#hero-img {
    color: #e5e7eb;
}

.info {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.random-info {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    padding: 32px;
}

.gallery {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.item-gallery {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.art {
    border: solid 2px #3882f6;
    border-radius: 10px;
    height: 120px;
    margin-bottom: 5px;
    width: 120px;
}

.text-art {
    color: #1f2937;
    font-size: small;
    height: 120px;
    text-align: center;
    width: 120px;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    padding: 56px;
}